@model Insurance_v1.ViewModels.QuoteVM

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h2 class="m-0 text-primary">Based on your information... </h2>
        </div>
        <div class="card-body">
            <h5 class="text-primary">Your Personal Quote is: $@Model.UserQuote a month.</h5>
        </div>
    </div>
</div>